.heroWrapper {
  height: 500px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(
    120deg,
    rgba(212, 252, 121, 0.1) 0%,
    rgba(119, 194, 173, 0.3) 50%
  );

  .colOne {
    margin-top: 6rem;
  }
  .colTwo {
    margin-top: 5rem;
  }
  .row .col h1,
  h5 {
    text-align: center;

  }
}

.heroWrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../../assets/potted_monstera.webp");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right -60% bottom 50%;
  filter: blur(2px);
  opacity: 0.2;
}

.heroImg {
  max-width: 20rem;
}

.heroCards {
  justify-content: center;
  padding: 0 8rem;
  // margin-bottom: 5rem;
  .card {
    position: relative;
    height: 100%;
    bottom: 4rem;
    transition: scale 300ms;
  }
  .card a {
    color: var(--primary-color);
  }
  .card:hover {
    scale: 1.1;
  }
  .card-body{
    padding: 0.5rem;
  }
  .card-body:hover {
    color: rgb(83, 139, 123);
  }
  .card-icon {
    margin-right: 1.5rem;
  }
}