@import "~bootstrap/scss/bootstrap";

.heroWrapper {
  height: 34rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(
    120deg,
    rgba(212, 252, 121, 0.1) 0%,
    rgba(119, 194, 173, 0.3) 50%
  );
  .colOne {
    margin-top: 4rem;
  }
  .colTwo {
    margin-top: 4rem;
  }
  .row .col h1,
  h5 {
    text-align: center;
  }
  .heroImg {
    max-width: 20rem;
  }
}

.heroWrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../../assets/potted_monstera.webp");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right -60% bottom 50%;
  filter: blur(2px);
  opacity: 0.2;
}

.heroCards {
  justify-content: center;
  .card {
    bottom: 4rem;
    transition: scale 300ms;
  }
  .card a {
    color: var(--primary-color);
  }
  .card:hover {
    scale: 1.1;
  }
  .card-body {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
  .card-body:hover {
    color: rgb(83, 139, 123);
  }
  svg {
    padding-right: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .heroWrapper {
    .colOne {
      margin-top: 6rem;
      padding-left: 5rem;
    }
    .colTwo {
      margin-top: 6rem;
    }
  }
}

@include media-breakpoint-between(lg, sm) {
  .heroWrapper {
    .colOne {
      padding: 0 2rem;
      margin-top: 2rem;
    }
    .colTwo{
      margin-top: 2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .heroWrapper {
    .colOne {
      padding: 0 1rem;
      margin-top: 3rem;
    }
  }
}