@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

:root {
  --primary-color: rgb(119, 194, 173);
  --secondary-color: rgb(243, 150, 154);
  --tertiary-color: rgb(83, 139, 123);
}

/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */


body {
  height: 100%;
  margin: 0;
}

/* .card-title {
    font-weight: 500;
    font-size: 2rem;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
} */

/* .page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
} */


.bg_leaf_pattern {
  position: relative;
}

.bg_leaf_pattern:after {
  z-index: -1;
  content: "";
  opacity: 0.1;
  background-image: url("../assets/bg_og.png");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  position: fixed;
}
